header.first-section
	.container
		.row
			.col-12
				.logo-wrapper.text-center
					a(href="https://victoriyaclub.com/", target="_blank")
						img(src="images/logo.png", alt="Victoriya Club")
				.title-wrapper.text-center
					h1 Online Dating
				.description-wrapper.text-center.
					Ukrainian & Russian Looking<br>for long testing relationship