/* Header */
.first-section {
	height: 100vh;
	min-height: 630px;
	background: url(../../images/first-section-image.jpg) no-repeat left top;
	background-size: cover;
	padding-top: 20px;
	
	.logo-wrapper {
		margin-bottom: 92px;
		
		a {
			outline: none;
			box-shadow: none;
		}

		img {
			max-width: 100%;
		}
	}

	.title-wrapper {
		& * {
			font-weight: bold;
			color: $white;
			font-size: 60px;
			line-height: 64px;
			text-transform: uppercase;
			letter-spacing: 2.5px;
		}
	}

	.description-wrapper {
		font-weight: normal;
		font-size: 22px;
		letter-spacing: 0.5px;
		line-height: 30px;		
		color: $white;
		text-transform: uppercase;
	}
}