//- - var girls = [direction]
section.findYourSoulmate
	.container
		.second-wrapper
			.row
				.col-12
					h2.title-section Find your soulmate
			.row
				p.dialog=direction
				//- include ../elements/girls_list_variables