section.footer
	//- .container
	//- 	.second-wrapper
	//- 		.row
	//- 			.col-12
	.wrapper.d-flex.align-items-center.justify-content-center
		span.text-center
			h4.title-section Go ahead for adventures
			button.btn.btn-default(type="button", onclick="popup.show('#reg')") Go
	footer.text-center
		a(href="https://victoriyaclub.com", target="_blank") VictoriyaClub.com
		|2008-2017 © All rights reserved