section.ourAdvantages
	.container
		.second-wrapper
			.row
				.col-12
					h3.title-section Our advantages
			.row
				.col-12.col-md-3.text-center
					span.item
						.tabAdvantages.blue.inf.d-flex.align-items-center.flex-wrap.justify-content-center.align-content-center
							.icon
								img(src="images/advantages/1.png", alt="Messaging icon")
							.description Messaging
				.col-12.col-md-3.text-center
					span.item
						.tabAdvantages.blue.inf.d-flex.align-items-center.flex-wrap.justify-content-center.align-content-center
							.icon
								img(src="images/advantages/2.png", alt="Videochat icon")
							.description Videochat
				.col-12.col-md-3.text-center
					span.item
						.tabAdvantages.blue.inf.d-flex.align-items-center.flex-wrap.justify-content-center.align-content-center
							.icon
								img(src="images/advantages/3.png", alt="Romantic icon")
							.description Romantic tours
				.col-12.col-md-3.text-center
					span.item
						.tabAdvantages.d-flex.align-items-center.flex-wrap.justify-content-center.align-content-center
							.title Gifts service
							.text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.