section.pricesSection
	.container
		.second-wrapper
			.row
				.col-12
					h5.title-section Prices
						span.small in
						span.toggle-valute#valuteToggle
							.dollar.item $
							.euro.item.active €
							.clearfix
			.row
				.col-md-4
					.wrpper-traif
						.header.d-flex.align-items-center.flex-wrap.justify-content-center.align-content-center.type
							.line.d-flex.align-items-center.justify-content-center
								span.old
									span.dollarValute $ 15
									span.euroValute € 14
								span.current
									span.dollarValute $ 4,88
									span.euroValute  € 4
							.line.d-flex.align-items-center.justify-content-center
								span.credits 30 credits
						.wrapper-description
							.line.d-flex.align-items-center.justify-content-center
								span.strong 15
								|&nbsp;minutes videochat
							.separator
							.line.d-flex.align-items-center.justify-content-center
								span.strong 30
								|&nbsp;minutes chat
							.separator
							.line.d-flex.align-items-center.justify-content-center
								span.strong 3
								|&nbsp;private messages
							.separator
							.line.d-flex.align-items-center.justify-content-center
								span.strong 5
								|&nbsp;premium photo & video
				.col-md-4
					.wrpper-traif
						.header.d-flex.align-items-center.flex-wrap.justify-content-center.align-content-center.type-2
							.line.d-flex.align-items-center.justify-content-center
								span.current
									span.dollarValute $ 149
									span.euroValute € 130
							.line.d-flex.align-items-center.justify-content-center
								span.credits 500 credits
						.wrapper-description
							.line.d-flex.align-items-center.justify-content-center
								span.strong 250
								|&nbsp;minutes videochat
							.separator
							.line.d-flex.align-items-center.justify-content-center
								span.strong 500
								|&nbsp;minutes chat
							.separator
							.line.d-flex.align-items-center.justify-content-center
								span.strong 50
								|&nbsp;private messages
							.separator
							.line.d-flex.align-items-center.justify-content-center
								span.strong 2
								|&nbsp;girls contacts
							.separator
							.line.d-flex.align-items-center.justify-content-center
								span.strong 100
								|&nbsp;premium photo & video
				.col-md-4
					.wrpper-traif
						.header.d-flex.align-items-center.flex-wrap.justify-content-center.align-content-center.type-3
							.line.d-flex.align-items-center.justify-content-center
								span.current
									span.dollarValute $ 919
									span.euroValute € 796
							.line.d-flex.align-items-center.justify-content-center
								span.credits 3 400 credits
						.wrapper-description
							.line.d-flex.align-items-center.justify-content-center
								span.strong 1700
								|&nbsp;minutes videochat
							.separator
							.line.d-flex.align-items-center.justify-content-center
								span.strong 3400
								|&nbsp;minutes chat
							.separator
							.line.d-flex.align-items-center.justify-content-center
								span.strong 340
								|&nbsp;private messages
							.separator
							.line.d-flex.align-items-center.justify-content-center
								span.strong 11
								|&nbsp;girls contacts
							.separator
							.line.d-flex.align-items-center.justify-content-center
								span.strong 680 
								|&nbsp;premium photo & video
			.row.payments
				.col-md-4
					.payment-case
						.image
							img(src="images/payment/segpay.jpg", alt="segpay")
						.name Segpay
						.description Visa, Master Card, Discover, JCB, Maestro
				.col-md-4
					.payment-case
						.image
							img(src="images/payment/multicards.jpg", alt="MultiCards")
						.name.green Multicards
						.description Visa, American Express, iDEAL, Sofortbanking, Diners Club, Carte Bleue, Bitcoin, Klarma
				.col-md-4
					.payment-case
						.image
							img(src="images/payment/pastabank.jpg", alt="LPB")
						.name.blue Pasta Bank
						.description Visa, MasterCard, Maestro
