section.theyFound
	.container
		.second-wrapper
			.row
				.col-12
					h3.title-section They found love here
			.row
				.col-12
					.slider-case.carousel.slide#theyFoundCarousel(data-ride="carousel")
						.carousel-inner(role="listbox")
							//- Item
							.slider-item.carousel-item.active
								.d-flex.align-items-center
									.photo
										img(src="images/they_found/1.jpg", alt="Mark and Daria")
									.text
										.line
											span.name Mark,
											|&nbsp;45 years, Phoenix, USA
										.line
											span.name Daria,
											|&nbsp;28 years, Nikolaev, Ukraine
										.story
											|We met on Victoriyaclub in June 2015. We started by exchanging messages on the website before we started to email each other's personal email.<br>
											|We also quickly started spending a lot of time talking to each other on Skype.<br>
											|We finally met each other in Nikolaev in December 2015. We spent several days together there and had an amazing time. We continued to talk daily via Skype and WhatsApp. We decided to become engaged and submitted the package for her visa. On July 24, 2016, she finally arrived. Since then, she has gotten to meet my family and get to learn more about each other. Finally, on September 14, 2016, we were married. We look forward to many happy years as we build our family and honor the traditions of both countries.
											p Thank you for your help in allowing us to meet.
							//- Item
							.slider-item.carousel-item 
								.d-flex.align-self-start
									.photo
										img(src="images/they_found/2.jpg", alt="James and Nelia")
									.text
										.line
											span.name James,
											|&nbsp;47 years, Guildford, UK
										.line
											span.name Nelia,
											|&nbsp;30 years, Sochi, Russia
										.story.
											Thank you from both of us for bringing us together. We are 'Soul-Mates' according to astrology, and found each other on your site! For me (James), it was love at first sight. For her (Nelia), it took a little more time... woman ?? In the end, we had a wonderful time in Goa, India, and looking to get married as soon as possible. Also, your website was very simple to follow, and easy to navigate & chat. I thank you from the bottom of my heart, and wish you love and happiness always! Happy Valentines! James & Nelia
							//- Item
							.slider-item.carousel-item 
								.d-flex.align-self-start
									.photo
										img(src="images/they_found/3.jpg", alt="Robert and Elena")
									.text
										.line
											span.name Robert,
											|&nbsp;51 years, Mackay, Australia
										.line
											span.name Elena,
											|&nbsp;39 years, Odessa, Ukraine
										.story.
											In early May 2016 I contacted Elena from the website after looking at her pictures and reading her profile story. I loved her smile and her choice of words in the story. She was exactly what I was looking for in a woman. After she responded to me we began to communicate through the website. Shortly thereafter we started to speak via Whatsapp. When I first heard her voice I was lovestruck. The first thing I would do when I awoke every morning was telephone her. In a very short time I understood that I wanted to be with her for my entire life.From mid June until early July when we met we spoke literally every day sometimes for hours. We talked about each other's lives, hopes and dreams and realized that we wanted the same thing for the future. Her intelligence and humor was a great source of motivation and comfort to me. She was serious but knew how to make me laugh which was very interesting and extremely captivating.In mid September we decided that we wanted to meet.
										//- Eventually we settled on meeting in Odessa, fortunately the organization of the meeting was assumed by the victoriyaclub agency. When we first met at an airport in Odessa I gave her a hug and a soft kiss. It was so warm and comfortable.We then spent one week in Odessa where I proposed to her by placing an engagement ring which I previously bought in local store. After spending one week in Odessa we went to Sicilia for two weeks.In late October when I went back to Australia I immediately started searching for a teaching position overseas so that we could live together right away. As luck would have it I found a teaching position in Istanbul.We flew back to Turkey in mid November and started to make plans for our upcoming wedding. On February 27th, 2017 we flew to Cyprus and got married the following day in Paphos, Cyprus. It was a small, romantic ceremony followed by some pictures at a beautiful beach and a stunning Greek Orthodox church.We are now together in Istanbul and enjoying the time that we spend together. Elena is perfect for me. She is kind and forgiving. I am able to be myself with her and I appreciate her very much. One of the best parts of being with her is that I get to hug her and kiss her softly in the morning when I wake up beside her. I hope everyone can find someone who is as giving and caring as she is.My wife Elena and I wish to say thank you very much to Victoriyaclub for bringing us together.

						ol.carousel-indicators
							li(data-target="#theyFoundCarousel", data-slide-to="0").active
							li(data-target="#theyFoundCarousel", data-slide-to="1")
							li(data-target="#theyFoundCarousel", data-slide-to="2")
