section.weProvide
	.container
		.second-wrapper
			.row
				.col-12
					h4.title-section We provide
			.row.justify-content-center
				.col-12.col-md-4.text-center
					.provide-item-case
						.header-case.d-flex.align-items-center.justify-content-center
							.icon.float-left
								img(src="images/provide/1.png", alt="Verif. icon")
							.text.float-left Girl’s profile personal verification
							.clearfix
						.text-case.
							Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.

				.col-12.col-md-4.text-center
					.provide-item-case
						.header-case.d-flex.align-items-center.justify-content-center
							.icon.float-left
								img(src="images/provide/2.png", alt="Hot girls icon")
							.text.float-left Hot beautiful girls
							.clearfix
						.text-case.
							Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.

				.col-12.col-md-4.text-center
					.provide-item-case
						.header-case.d-flex.align-items-center.justify-content-center
							.icon.float-left
								img(src="images/provide/3.png", alt="support icon")
							.text.float-left 24/7 online support
							.clearfix
						.text-case.
							Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.

				.col-12.col-md-4.text-center
					.provide-item-case
						.header-case.d-flex.align-items-center.justify-content-center
							.icon.float-left
								img(src="images/provide/4.png", alt="support icon")
							.text.float-left Secure photo albums and messages
							.clearfix
						.text-case.
							Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.

				.col-12.col-md-4.text-center
					.provide-item-case
						.header-case.d-flex.align-items-center.justify-content-center
							.icon.float-left
								img(src="images/provide/6.png", alt="support icon")
							.text.float-left 128 bit ssl encryption
							.clearfix
						.text-case.
							Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.