@import "styles/sections/header";
@import 'elements/reg_popup';
@import "styles/sections/our_advantages";
@import "styles/sections/find_your_soulmate";

.second-wrapper {
    position: relative;

	@media (min-width: 1200px) {
		width: 870px;
	    max-width: 100%;
	}
}

.title-section {
	text-align: center;
	font-size: 30px;
	font-weight: bold;
	color: rgba(31,61,77,1);
	letter-spacing: .5px;
	text-transform: uppercase;
	margin-top: 25px;
	margin-bottom: 40px;
}

.checkbox {
	display: inline-block;
	width: 16px;
	height: 16px;
    border: 1px solid rgba(31,61,77,0.8);
    @include border-radius(2px);
    margin-right: 7px;
    position: relative;
    top: 3px;
    cursor: pointer;
    
	&::after {
		content: url('../../images/check.png');
		position: absolute;
		width: 11px;
		height: 10px;
		margin: auto;
		left: -50%;
		top: -50%;
		bottom: -50%;
		right: -50%;
		display: block;
		opacity: 0;
	}
	
    &.hover:not(.checked) {
		&::after {
			opacity: 0.4;
		}
    }

    &.checked {
		&::after {
			opacity: 1;
		}
    }

    &.error {
   		border: 1px solid rgba(226,0,37,.8);
    }
}

@include keyframes(input){
	0% {
		margin-bottom: 0px;
		border-bottom: 2px solid;
		border-color: rgba(0,0,0,.2);
	}
	100% {
		border-color: #01aac1;
	}
}

@include keyframes('check_error'){
	0% {
		color: rgba(31,61,77,0.8);
	}
	25%{
   		color: rgba(226,0,37,.8);
	}
	50%{
		color: rgba(31,61,77,0.8);
	}
	75%{
		color: rgba(226,0,37,.8);
	}
	100%{
		color: rgba(31,61,77,0.8);
	}
}