html(lang='ru')
	include include/common/head
	body
		.container(style="position: relative;")
			include include/elements/reg_popup
		include include/sections/header
		include include/sections/our_advantages
		include include/sections/find_your_soulmate
		include include/sections/we_provide
		include include/sections/they_found_love_here
		include include/sections/prices
		include include/common/footer