.chat-poup-wrapper(onclick="popup.show('#reg')")
	.popupTitle Start chat now
	.popupBody
		.photo
			img(src="images/popup/1.jpg", alt="Oksana")
		.right-column
			.name Oksana
			.age Age: 40
			.message Where do you like to relax on your vacation?
			button.btn.btn-info START CHAT
			.text-center
				span.dont don't remind
		.clearfix
		.footer-popup
			span Girls invinting To Chat: 5
			button.btn.disabled(type="button") NEXT GIRL
			.clearfix