.popupReg-wrapper
	form(action="")
		.popupTitle Free Sign up
		.popupBody
			.input-wrapper
				label
					span.title Name
					input.title-animate(type="text", name="name", placeholder="Name", data-min-length="3")
			.input-wrapper
				label
					span.title Email
					input.title-animate(type="text", name="mail", placeholder="Email")
			.agree-line
				label
					input(type="checkbox", name="agree")
					|I agree with
				a(href="#") Terms and Conditions
			button.btn.btn-primary() Sign up